<div id="footer">
  <div class="navigation round">    
    <div class="navigation_item"> <%= link_to "About Us", "#" %></div>
    <div class="navigation_item"> <%= link_to "Contact", "#" %></div>
	<div class="navigation_item"> <%= link_to "Blog", "#" %></div>
	<div class="navigation_item"> <%= link_to "API", "#" %></div>
	<div class="navigation_item"> <%= link_to "Help", "#" %></div>
	<div class="navigation_item"> <%= link_to "Terms", "#" %></div>
	<div class="navigation_item"> <%= link_to "Privacy", "#" %></div>
  </div>
</div>

