<div id="header" class="round">
  <%= link_to logo, root_path %>
  <div class="navigation round">    
    <% if signed_in? %>
    <div class="navigation_item"> <%= link_to "Tickets", "#" %></div>
    <div class="navigation_item"> <%= link_to "Events", "#" %></div>
	<div class="navigation_item"> <%= link_to "Venues", "#" %></div>
	<div class="navigation_item"> <%= link_to "Account", edit_user_path(current_user) %></div>
	<div class="navigation_item"> <%= link_to "Help", help_path %></div>
    <div class="navigation_item"> <%= link_to "Sign out", signout_path, :method => :delete %></div>
	<% else %>
	<div class="navigation_item"> <%= link_to "Sign in", signin_path %></div>
	<div class="navigation_item"> <%= link_to "Join TixMix", signup_path %> </div>
    <% end %>
    
    <% if signed_in? %>
    
    <% else %>
    
    <% end %>
  </div>
</div>

